{#
Advanced section version 2

@param {string}  title
@param {string}  description
@param {string}  image
@param {string}  image_mobile 
@param {object}  cta
{
    @param {string}  title
    @param {string}  url
}

Example: 

{% set advancedSectionItems = {
	"title": "Mesečne smernice",
	"description": "We examine the risk and cost ratio of every potential investment you are interested in and advise on its viability and worth.",
	"cta" : {
		"title" : "Spoznajte zdaj",
		"url" : "#"
	},
	"image" : "assets/images/office-empty-2.png",
	"image_mobile" : "assets/images/office-empty-2-mobile.png",
} %}

#}

{# Output #}
<div class="c-advanced-section c-advanced-section-2 overflow-hidden relative">
	<div class="container-only-lg">
		<div class="flex flex-wrap -mx-5">
			<div class="col-12 xl:col-11 xl:offset-1">
				<h2 class="h4 lg:h1 title mb-4 lg:mb-10">{{ params.title }}</h2>
			</div>
		</div>
		<div class="flex flex-wrap -mx-10 lg:-mx-5">
			<div class="col-12">
				<div class="w-full h-120 lg:h-140 mb-4 lg:mb-11">
					<img src="{{ params.image }}" alt="" class="hidden lg:block object-cover w-full h-full">
					<!-- .mobile -->
					<img src="{{ params.image_mobile is defined ? params.image_mobile : params.image }}" alt="" class="lg:hidden object-cover w-full h-full">
				</div>
			</div>
		</div>
		<div class="flex flex-wrap -mx-5">
			<div class="col-12 lg:col-7 xl:col-5 xl:offset-1">
				<div class="medium-paragraph lg:large-paragraph text-textgray mb-4 lg:mb-0">{{ params.description }}</div>
			</div>
			<div class="col-12 lg:col-5 xl:col-3 xl:offset-2">
				<div class="relative lg:text-right">
					{% if params.cta %}
						<a href="{{ params.cta.url }}" class="block lg:inline-block button button-full medium-button w-full lg:w-auto mb-4 lg:mb-0 xl:mr-0">{{ params.cta.title }}</a>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>
