{#

Slightly altered advanced section version 1. version 1_2

@param {string}  title
@param {string}  description
@param {string}  image
@param {string}  image_mobile
@param {string}  caption  - image caption
@param {object}  cta
{
    @param {string}  title
    @param {string}  url
}
@param {object}  cta2 
{
    @param {string}  title
    @param {string}  url
}
@param {object} number 
{
    @param {string} title
    @param {string} caption
    @param {bool} is_percentage
}

Example:
    {% set advancedSectionItems = {
        "title": "Naložbeni odbor",
        "description": "Our investment board observes the market, our products, educates our consultants and in doing so,
    our clients as well.",
        "cta" : {
            "title" : "Spoznajte zdaj",
            "url" : "#"
        },
        "cta2" : {
            "title" : "Naročite svetovalca",
            "url" : "#"
        },
        "image" : "assets/images/office-empty-2.png",
        "image_mobile" : "assets/images/office-empty-2-mobile.png",
        "caption": "Stranke, ki so sodelovale z našimi svetovalci, so v zadnjem letu v povprečju ustvarile",
        "number": {
            "title": 17,
            "caption": "Donosnost",
            "is_percentage": true,
			"percentage_text" : "procentov"
        }
    } %}
#}

{# Output #}
<div class="c-advanced-section c-advanced-section-1 overflow-hidden relative">
	<div class="container-only-lg">
		<div class="flex flex-wrap -mx-5">
			<div class="col-12 xl:col-11 xl:offset-1">
				<h2 class="h4 lg:h1 title">{{ params.title }}</h2>
			</div>
		</div>
		<div class="flex flex-wrap -mx-5">
			<div class="lg:col-5 lg:offset-7 xl:col-4 xl:offset-7">
				<div class="pb-3 lg:pb-12 lg:bg-arcticsilver"></div>
			</div>
		</div>
		<div class="flex flex-wrap -mx-10 lg:-mx-5">
			<div class="col-12">
				<div class="hidden lg:block w-full h-130 relative">
					<img loading="lazy" src="{{ params.image }}" alt="{{ params.caption }}" class="absolute top-0 left-0 object-cover w-full h-full">
				</div>
				<div class="lg:hidden w-full h-0 relative" style="padding-bottom:calc(100%);">
					<img loading="lazy" src="{{ params.image_mobile is defined ? params.image_mobile : params.image }}" alt="{{ params.caption }}" class="absolute top-0 left-0 object-cover w-full h-full">
				</div>
			</div>
		</div>
		<div class="flex flex-wrap -mx-5">
			<div class="col-12 lg:col-7 xl:col-6 xl:offset-1 order-1 lg:order-0">
				<div class="medium-paragraph lg:large-paragraph pt-3 lg:pt-10 mb-4 lg:mb-8 mw-none-mobile" style="max-width:520px;">{{ params.description }}</div>
				{% if params.cta %}
					<a href="{{ params.cta.url }}" class="button button-full medium-button w-full lg:w-auto mb-4 lg:mb-0 xl:mr-8 lg:inline-block">{{ params.cta.title }}</a>
				{% endif %}
				{% if params.cta2 %}
					<a href="{{ params.cta2.url }}" class="button button-empty medium-button w-full lg:w-auto lg:inline-block">{{ params.cta2.title }}</a>
				{% endif %}
			</div>
			<div class="col-12 lg:col-5 xl:col-4 order-0 lg:order-1">
				<div class="hidden lg:block h6 title relative lg:px-14 pt-10 pb-8 lg:bg-arcticsilver lg:mb-10">{{ params.caption }}</div>
				{% if params.number %}
					<div class="px-8 pb-9 lg:pb-0 lg:px-14 flex lg:block relative">
						<div class="lg:hidden absolute left-0 -right-5 h-full tpp-0 bg-arcticsilver -z-1"></div>
						<div class="relative -mt-15 lg:mt-0">
							<span class="lg-number number-mask inline-block" style="background-image: url({{manifest(" assets/images/mask17.svg")}});">{{ params.number.title }}</span>
							{% if params.number.is_percentage == true %}
								<span class="h1 large-title hidden lg:inline-block text-peppermint ">%</span>
								{% if params.number.percentage_text %}
								<p class="lg:hidden mt-3 text-peppermint arboria-main-button">{{ params.number.percentage_text }}</p>
								{% endif %}
							{% endif %}
							{% if params.number.caption %}
								<div class="h4 lg:h5 title mb-6 lg:mb-0 text-coalblack lg:text-peppermint">{{ params.number.caption }}</div>
							{% endif %}
							<div class="lg:hidden h6 title text-coalblack">{{ params.caption }}</div>
						</div>
					</div>
					<!-- number -->
				{% endif %}
				
			</div>
		</div>
	</div>
</div>
