{#
  Advanced section version 2

  Data is loaded from a custom post

  @param {string}  title
  @param {string}  description
  @param {string}  image
  @param {string}  caption  - image caption
  @param {object}  cta
  {
    @param {string}  title
    @param {string}  url
  }
  @param {object}  cta2 
  {
      @param {string}  title
      @param {string}  url
  }
  @param {object} number 
  {
      @param {string} title
      @param {string} caption
      @param {bool} isPercentage
  }
#}

{# Output #}
<div class="c-advanced-section c-advanced-section-2 overflow-hidden relative">
    <div class="container-only-lg">
        <div class="flex flex-wrap -mx-5">
            <div class="col-12 xl:col-11 xl:offset-1">
                <h2 class="h4 lg:h1 title mb-4 lg:mb-10">{{ params.title }}</h2>
            </div>
        </div>
        <div class="flex flex-wrap -mx-10 lg:-mx-5">
            <div class="col-12">
                <div class="w-full h-120 lg:h-140 mb-4 lg:mb-11">
                    <img src="{{ params.image }}" alt="{{ params.caption }}" class="hidden lg:block object-cover w-full h-full">
                    {% if params.image_mobile %}
                    <img src="{{ params.image_mobile }}" alt="{{ params.caption }}" class="lg:hidden object-cover w-full h-full">
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="flex flex-wrap -mx-5">
            <div class="col-12 lg:col-7 xl:col-5 xl:offset-1">
                <div class="medium-paragraph lg:large-paragraph text-textgray mb-4 lg:mb-0">{{ params.description }}</div>
            </div>
            <div class="col-12 lg:col-5 xl:col-3 xl:offset-2">
                <div class="relative lg:text-right">
                    {% if params.cta %}
                    <a href="{{ params.cta.url }}" class="block lg:inline-block button button-full medium-button w-full lg:w-auto mb-4 lg:mb-0 xl:mr-0">{{ params.cta.title }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
