{#
Article list - Version 1
this one ony has three featured articles

@param {string} suptitle
@param {string} title 
@param {object} cta
{
    @param {string} title
    @param {string} url
}
@param {array}  items -cards 
{
    @param {string} image
    @param {string} url
    @param {string} title 
    @param {array} tags {
        @param {string} title 
        @param {string} url
    }
    @param {string} date
    @param {string} author
    @param {string} author_url
}

Example: 
{% set articleListItems = {
	"title" : "Articles written by Myhajlo Todurov",
    "suptitle" : "Academy contributions",
	"description" : "Vsi registrirani uporabniki ste enkrat letno upravičeni do brezplačnega pregleda portfelja.",
    "cta" : {
        "title" : "Naročite svetovalca",
        "url" : "#"
    },
	"items" : [
		{
			"title" : "Drugo mnenje: Ne bom investiral, saj je pred nami nova recesija",
            "url" : "#",
            "tags" : [
                {
                    "title" : "Investicije",
                    "url" : "#"
                },
                {
                    "title" : "Finance",
                    "url" : "#"
                }
            ],
            "date" : "12.12.2020",
            "author" : "Myhajlo Todurov",
            "author_url" : "#",
            "image" : "assets/images/girl-playing-article.png",
            "image_mobile" : "assets/images/girl-playing-article.png",
		},
		{
			"title" : "Lekcija zadnje krize: pasivni ali aktivni pristop k investiranju?",
            "url" : "#",
            "tags" : [
                {
                    "title" : "Investicije",
                    "url" : "#"
                },
                {
                    "title" : "Finance",
                    "url" : "#"
                }
            ],
            "date" : "12.12.2020",
            "author" : "Myhajlo Todurov",
            "author_url" : "#",
            "image" : "assets/images/guy-stairs-article.png",
            "image_mobile" : "assets/images/guy-stairs-article.png"
		},
        {
			"title" : "Lekcija zadnje krize: pasivni ali aktivni pristop k investiranju?",
            "url" : "#",
            "tags" : [
                {
                    "title" : "Investicije",
                    "url" : "#"
                },
                {
                    "title" : "Finance",
                    "url" : "#"
                }
            ],
            "date" : "12.12.2020",
            "author" : "Myhajlo Todurov",
            "author_url" : "#",
            "image" : "assets/images/guys-talking-article.png",
            "image_mobile": "assets/images/guys-talking-article.png"
		}
	]
} %}
#}

{# Output #}
<section class="c-article-list c-article-list-1">
	{% if params.title or params.cta %}
		<div class="container-only-lg">
			<div class="flex flex-wrap -mx-5 lg:items-end lg:mb-11">
				<div class="col-12 xl:offset-1 xl:col-4">
					<div class="h6 lg:h6 title text-peppermint mb-1 lg:mb-2">{{ params.suptitle }}</div>
					<h2 class="h4 lg:h2 title text-coalblack mb-6 lg:mb-0">{{ params.title }}</h2>
				</div>
				<div class="hidden lg:block col-12 xl:offset-2 xl:col-4">
					{% if params.cta %}
						<div class="relative lg:text-right">
							<a href="{{ params.cta.url }}" class="block lg:inline-block button button-full medium-button w-full lg:w-auto">{{ params.cta.title }}</a>
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	{% endif %}
	<div class="container-wider">
		<div class="flex flex-wrap -mx-5">
			{% for item in params.items %}
				<div class="w-full lg:px-2 {{ loop.last ? " lg:w-1/2" : " lg:w-1/4"}}">
					<a class="block relative w-full h-0 pb-full lg:pb-0 lg:h-60 xl:h-85 mb-4 lg:mb-5" href="{{ item.url}}">
						<img loading="lazy" src="{{ item.image }}" class="hidden lg:block absolute left-0 top-0 object-cover w-full h-full" alt="">
						{% if item.image_mobile %}
							<img loading="lazy" src="{{ item.image_mobile }}" class="lg:hidden absolute left-0 top-0 object-cover w-full h-full" alt="">
						{% endif %}
					</a>
					<div class="px-5 lg:px-5">
						<div class="tags flex items-center mb-2 lg:mb-2">
							{% for tag in item.tags %}
								<a href="{{ tag.url }}" class="arboria-main-button text-peppermint">{{ tag.title }}</a>
								{% if not loop.last %}
									<div class="mx-3 h-3 bg-arcticsilver" style="width:2px;"></div>
								{% endif %}
							{% endfor %}
						</div>
						<h5 class="h5 lg:h5 title text-coalblack mb-3 lg:mb-2">{{ item.title }}</h5>
						<div class="mb-9 lg:mb-0">
							<div class="date inline-block text-textgray small-paragraph mr-8 lg:mr-8">{{ item.date }}</div>
							<a href="{{ item.author_url }}" class="inline-block text-peppermint small-paragraph">{{ item.author }}</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
		<div class="flex flex-wrap -mx-5">
			{% if params.cta %}
				<div class="col-12 lg:hidden relative">
					<a href="{{ params.cta.url }}" class="block lg:inline-block button button-full medium-button w-full lg:w-auto">{{ params.cta.title }}</a>
				</div>
			{% endif %}
		</div>
	</div>
</section>
