{#
Section with banner. Version 1
has chart as image in center (on desktop)

@param {string}  title
@param {object}  cta 
{
  @param {string} title
  @param {string} url
}
@param {array} chartItems
{
    @param {string} number
    @param {string} caption
}

{% set bannerItems = {
	"title": "During our time in the field of financial consultancy",
	"cta" : {
		"title" : "Želim svetovanje",
		"url" : "#"
	},
	"chartItems" : [
		{
			"number" : "100.000.000",
			"caption": "evrov vloženih sredstev strank"
		}, 
		{
			"number" : "20.000",
			"caption": "strank, ki nam zaupajo"
		},
		{
			"number" : "18",
			"caption": "let na trgu"
		},
		{
			"number" : "40",
			"caption": "poslovnih partnerjev"
		},
		{
			"number" : "700",
			"caption": "objavljenih člankov"
		},
		{
			"number" : "15",
			"caption": "svetovalcev"
		},
	],
} %}
#}

{# Output #}
<section class="c-banner c-banner-1">
	<div class="container-only-lg">
		<div class="flex flex-wrap -mx-5">
			<div class="col-12 lg:col-5 xl:col-4 xl:offset-1 bg-arcticsilver lg:bg-transparent">
				<h2 class="h5 lg:h4 title mb-2 mt-10 lg:mt-0">{{ params.title }}</h2>
			</div>
		</div>
		<div class="flex flex-wrap -mx-5">
			<div class="hidden lg:block lg:col-5 xl:col-4 xl:offset-1">
				<div class="pb-11 bg-arcticsilver"></div>
			</div>
		</div>
		<div class="hidden lg:flex flex-wrap lg:mx-0 gradient-coalblack h-160 lg:h-68">
			<div class="col-12 lg:col-4 xl:col-4 xl:offset-1 lg:h-full lg:items-center lg:flex">
				<div class="text-right">
					<div class="h3 xl:h1 title text-white">{{ params.chartItems[0].number }}</div>
					<div class="small-subheader lg:medium-subheader text-white">{{ params.chartItems[0].caption }}</div>
				</div>
			</div>
			<!-- .col -->
			<div class="col-12 lg:col-5 xl:col-4  lg:h-full lg:items-center lg:flex">
				<div class="relative">
					<img class="chart-image hidden lg:block" src="{{ manifest('assets/images/chart-desktop.svg') }}">
					{% for item in params.chartItems.slice(2, params.chartItems|length) %}
						<div class="chart-number chart-number-{{loop.index}}">
							<div class="chart-number-h h5 lg:h4 title text-white lg:text-coalblack">{{ item.number }}</div>
							<div class="chart-number-p small-subheader lg:medium-subheader text-white lg:text-coalblack">{{ item.caption }}</div>
						</div>
					{% endfor %}
				</div>
			</div>
			<!-- .col -->
			<div class="col-12 lg:col-3 xl:col-3  lg:h-full lg:items-center lg:flex">
				<div class="text-left">
					<div class="h3 xl:h1 title text-white">{{ params.chartItems[1].number }}</div>
					<div class="small-subheader lg:medium-subheader text-white">{{ params.chartItems[1].caption }}</div>
				</div>
			</div>
			<!-- .col -->
		</div>
		<!-- .flex .flex-wrap -->
		<div class="chart-container-mobile-row flex flex-wrap lg:hidden -mx-5 gradient-coalblack">
			{% set sliderId = random() %}
			<div id="slider_{{ sliderId }}" class="tns-slider chart-container py-38" data-tns-speed="800" data-inviewport="once" data-inviewport-offsety="60">
				<div class="">&nbsp;</div>
				<div class="relative">
					<div class="relative chart-container-mobile inline-block">
						<div class="chart-number-top">
							<div class="h3 title text-white">{{ params.chartItems[0].number }}</div>
							<div class="small-subheader text-white mb-3">{{ params.chartItems[0].caption }}</div>
						</div>
						<div class="chart-number-bottom">
							<div class="h3 title text-white">{{ params.chartItems[1].number }}</div>
							<div class="small-subheader text-white">{{ params.chartItems[1].caption }}</div>
						</div>
						<img class="chart-image" style="" src="{{ manifest('assets/images/chart-mobile.png') }}">
						{% for item in params.chartItems.slice(2, params.chartItems|length) %}
							<div class="chart-number chart-number-{{loop.index}}">
								<div class="chart-number-h h5 title text-white lg:text-coalblack">{{ item.number }}</div>
								<div class="chart-number-p small-subheader text-white lg:text-coalblack">{{ item.caption }}</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
		<!-- .flex .flex-wrap -->
		<div class="flex flex-wrap -mx-5">
			<div class="col-12 lg:col-5 xl:col-4 xl:offset-1 bg-arcticsilver lg:bg-transparent">
				<div class="lg:bg-arcticsilver py-6 lg:py-8 flex justify-center">
					{% if params.cta|length %}
						<a href="{{ params.cta.url }}" class="button button-full medium-button w-full lg:w-auto">{{ params.cta.title }}</a>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</section>
<script>
	function trigger_slider_ {{ sliderId }}() {
if (typeof window.tnsSliders['slider_ {{ sliderId }}'] != "undefined") {
window.tnsSliders['slider_ {{ sliderId }}'].goTo('next');
}
};
</script>
