{#
Section with banner ADVANCED. Version 1

This one is NOT paralax

@param {string}  title
@param {string}  stitle
@param {string}  description
@param {object}  cta 
{
  @param {string} title
  @param {string} url
  @param {string} caption
}
@param {string} image
@param {string} image_mobile
@param {bool} text_first - if true, title and desc are before cta

Example:

{% set bannerAdvancedItems = {
	"stitle": "Best in class realestate projects.",
	"title": "Vila Destino",
	"description" : "Pomen imena Vile Destino je zadnja pot, saj se po investitorjevem mnenju enkrat vselite in tam tudi ostanete.",
	"cta" : {
		"title" : "Obiščite stran projekta",
		"url" : "#"
	},
	"text_first" : true,
	"image" : "assets/images/penthouse1.jpg",
	"image_mobile" : "assets/images/penthouse1-mobile.jpg",
} %}

#}

{# Output #}
<div class="c-banner-advanced c-banner-advanced-1 overflow-hidden relative">
	<div class="container-only-lg">
		{% if params.stitle %}
			<div class="flex flex-wrap -mx-5">
				<div class="col-12 xl:col-6 xl:offset-1">
					<h2 class="h5 lg:h1 title">{{ params.stitle }}</h2>
				</div>
			</div>
		{% endif %}
		<div class="flex flex-wrap -mx-5">
			<div class="col-4 lg:col-5 xl:col-4 {{ params.text_first == true ? 'offset-8  lg:offset-7  xl:offset-8' : 'lg:offset-0'}}">
				<div class="pb-10 lg:pb-12 bg-arcticsilver"></div>
			</div>
		</div>
		<div class="flex flex-wrap -mx-5 relative lg:h-100 xl:h-110 items-center">
			<div class="image-container absolute top-0 left-0 w-full h-full lg:px-5 {{ params.text_first == true ? 'image-container-2 xl:offset-1' : 'image-container-1'}}">
				<img loading="lazy" src="{{ params.image }}" alt="{{ params.caption }}" class="hidden lg:block object-cover object-center w-full h-full">
				<!-- .mobile image -->
				<img loading="lazy" src="{{ params.image_mobile is defined ? params.image_mobile : params.image }}" alt="{{ params.caption }}" class="lg:hidden object-cover object-center w-full h-full">
			</div>
			<!-- this is absolute positioned -->
			<div class="col-12 lg:col-5  xl:col-4  pt-64 lg:pt-0 {{ params.text_first == true ? 'lg:order-0 lg:offset-1 xl:offset-2' : 'lg:order-1 xl:offset-2'}}">
				<h2 class="h3 lg:h1 title text-white mb-2">{{ params.title }}</h2>
				<p class="medium-paragraph text-white mb-8">{{ params.description }}</p>
			</div>
			<div class="col-12 lg:col-5  xl:col-4 {{ params.text_first == true ? 'lg:order-1 lg:offset-1 xl:offset-2 lg:text-right' : 'lg:order-0'}}">
				{% if params.cta %}
					<a href="{{ params.cta.url }}" class="button button-full medium-button w-full lg:w-auto mb-8 lg:mb-0 lg:inline-block">{{ params.cta.title }}</a>
				{% endif %}
			</div>
		</div>
		<div class="flex flex-wrap -mx-5">
			<div class="col-4 lg:col-5 xl:col-4 {{ params.text_first == true ? 'offset-8  lg:offset-7  xl:offset-8' : 'lg:offset-0'}}">
				<div class="pb-10 lg:pb-12 bg-arcticsilver"></div>
			</div>
		</div>
	</div>
</div>
