{#
Card list - Version 1
this one ony has three featured articles

@param {string} suptitle
@param {string} title 

@param {array}  items -cards 
{
    @param {string} image
    @param {string} url
    @param {string} title 
    @param {string} description
}

Example:

{%
    set cardListItems = {
        "title": "Best in class services",
        "suptitle" : "Consulting",
        "items" : [
            {
                "title" : "Naložbeno svetovanje",
                "url" : "#",
                "description" : "Very short description, should not cross the threshold of two lines on this median screen width."
            },
            {
                "title" : "Pokojninsko svetovanje",
                "url" : "#",
                "description" : "Very short description, should not cross the threshold of two lines on this median screen width."
            },
            {
                "title" : "Izdelava in spremljanje portfelja",
                "url" : "#",
                "description" : "Very short description, should not cross the threshold of two lines on this median screen width."
            },
            {
                "title" : "Optimizacija zavarovalnih polic",
                "url" : "#",
                "description" : "Very short description, should not cross the threshold of two lines on this median screen width."
            }
        ]
    }
%}
#}

{# Output #}
<section class="c-card-list c-card-list-3">
	<div class="container-only-lg">
		<div class="flex flex-wrap -mx-5">
			<div class="col-12 xl:offset-1 xl:col-7">
				<div class="text-peppermint h6 lg:h6 title mb-1 lg:mb-0">{{ params.suptitle }}</div>
				<h2 class="h4 lg:h1 title text-coalblack mb-4 lg:mb-10">{{ params.title }}</h2>
			</div>
		</div>
		<!-- flex row -->
		<div class="flex flex-no-wrap lg:flex-wrap -mx-5 lg:-mx-5 mb-2 lg:mb-0 overflow-x-scroll smooth-scroll hide-scrollbar scroll-snap-type-x-mandatory lg:scroll-snap-type-none">
			{% for item in params.items %}
				<a href="{{ item.url }}" class="card h-75 lg:h-75 select-none scroll-snap-align-start lg:scroll-snap-align-none mb-2 lg:mb-10">
					<div class="flex relative w-full h-full bg-arcticsilver">
						<div class="px-4 py-8 lg:px-8 lg:pt-10">
							<h5 class="h5 lg:h4 title text-coalblack mb-2 lg:mb-2">{{ item.title }}</h5>
							<p class="text-textgray small-paragraph">{{ item.description }}</p>
						</div>
						<svg class="absolute bottom-8 left-8 inline-block" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M16.586 11l-5.293-5.293 1.414-1.414L20.414 12l-7.707 7.707-1.414-1.414L16.586 13H5v-2h11.586z" fill="#1A262E"/>
						</svg>
					</div>
				</a>
			{% endfor %}
		</div>
		<!-- .row -->
	</div>
	<!-- container -->
</section>
