{#

Section with header. Header consult 2
Left side: info about page. title, desc, cta buttons, and super title
Right side: image with pattern behind

@param {string}  image
@param {string}  image_mobile
@param {string}  logo
@param {string}  title - header main title 
@param {string}  description
@param {object}  cta - left full button
{
  @param {string} title
  @param {string} url
}

Example: 

    {%
        set headerItems = { 
            "logo" : "assets/images/JonatanMars-logo.svg",
            "image" : "assets/images/main-bg-1.jpg",
            "image_mobile" : "assets/images/main-bg-1-mobile.jpg",
            "title": "Upravljalci alternativnih investicijski skladov", 
            "description": "Making more possible.", 
            "cta" : { 
                "title" : "Želim svetovanje", 
                "url" : "#" 
            } 
        }
    %} 
#}

{# Output #}
<header class="c-header c-header-invest-3 w-full relative pt-16 lg:pt-36">
	<div class="container-only-lg">
		<div class="flex flex-wrap -mx-5">

			<div class="col-12 lg:col-6 xl:col-5 xl:offset-1">
                {% if params.logo %}
					<div class="lg:mt-14 mb-2 lg:mb-4">
						<img class="header-logo w-40 h-auto" src="{{ params.logo }}" alt="">
					</div>
				{% endif %}
				<h1 class="h5 lg:h2 title text-coalblack mb-2 lg:mb-3">{{ params.title }}</h1>
				<p class="medium-paragraph lg:large-paragraph text-textgray mb-8 lg:mb-8 mw-none-mobile" style="max-width:408px;">{{ params.description }}</p>
				<div class="hidden lg:block">
					<a href="{{ params.cta.url }}" class="button button-full medium-button w-full lg:w-auto">{{ params.cta.title }}</a>
				</div>
			</div>
			<div class="hidden lg:block lg:col-6 xl:col-5">
				<div class="w-full lg:mx-0 lg:h-180 relative">
					<svg class="absolute h-auto max-w-none" style="width:632px; bottom:60px; left:0;" width="632" height="468" viewBox="0 0 632 468" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path opacity=".5" fill-rule="evenodd" clip-rule="evenodd" d="M632 0H0v5.887h626.575V468H632V0zm-11.346 468V11.774H0v5.886h614.727V468h5.927zm-11.847 0V23.547H0v5.887h602.891V468h5.916zm-11.836 0V35.32H0v5.887h591.048V468h5.923zm-11.844 0V47.094H0v5.888h579.211V468h5.916zm-11.836 0V58.87H0v5.886h567.372V468h5.919zm-11.84 0V70.643H0v5.884h555.532V468h5.919zm-11.84 0V82.414H0v5.889h543.688V468h5.923zm-11.843 0V94.19H0v5.886h531.849V468h5.919zm-11.84 0V105.963H0v5.887h520.004V468h5.924zm-11.844 0V117.736H0v5.887h508.164V468h5.92zm-11.841 0V129.51H0v5.886h496.325V468h5.918zm-11.839 0V141.283H0v5.887h484.481V468h5.923zm-11.843 0V153.057H0v5.886h472.65V468h5.911zm-11.831 0V164.83H0v5.887h460.801V468h5.929zm-11.849 0V176.604H0v5.886h448.965V468h5.916zm-11.837 0V188.377H0v5.887h437.122V468h5.922zm-11.843 0V200.15H0v5.887h425.274V468h5.927zm-11.847 0V211.924H0v5.888h413.442V468h5.912zm-11.832 0V223.699H0v5.887h401.603V468h5.919zm-11.84 0V235.473H0v5.886h389.754V468h5.928zm-11.848 0V247.246H0v5.887h377.918V468h5.916zm-11.837 0V259.02H0v5.886h366.075V468h5.922zm-11.843 0V270.793H0v5.887h354.235V468h5.919zm-11.839 0V282.566H0v5.887h342.396V468h5.919zm-11.84 0V294.34H0v5.887h330.555V468h5.92zm-11.84 0V306.113H0V312h318.715v156h5.92zm-11.841 0V317.887H0v5.886h306.872V468h5.922zm-11.843 0V329.66H0v5.887h295.032V468h5.919zm-11.84 0V341.434H0v5.886h283.192V468h5.919zm-11.839 0V353.207H0v5.887h271.352V468h5.92zm-11.84 0V364.981H0v5.888h259.508V468h5.924zm-11.844 0v-91.244H0v5.885h247.672V468h5.916zm-11.836 0v-79.473H0v5.887h235.833V468h5.919zm-11.84 0v-67.699H0v5.888h223.989V468h5.923zm-11.844 0v-55.924H0v5.887h212.146V468h5.922zm-11.843 0v-44.15H0v5.886h200.309V468h5.916zm-11.836 0v-32.377H0v5.887h188.461V468h5.928zm-11.849 0v-20.603H0v5.886h176.622V468h5.918zm-11.839 0v-8.83H0v5.887h164.782V468h5.919z" fill="#54BAB3"/>
					</svg>
					<img loading="lazy" src="{{ params.image }}" alt="" class="absolute left-0 top-0 object-cover w-full h-full">
				</div>
			</div>

			<div class="block lg:hidden col-12 mb-6">
				<div class="-ml-5 relative h-0" style="width:calc(100% + 40px); padding-bottom:calc(125% + 50px);">
					<svg class="absolute h-auto max-w-none" style="width:140px; top:-16px; right:40px;" width="144" height="144" viewBox="0 0 144 144" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path opacity=".5" fill-rule="evenodd" clip-rule="evenodd" d="M0 0h144v1.812H1.237V144H0V0zm2.585 144V3.623H144v1.811H3.935V144h-1.35zm2.7 0V7.245H144v1.812H6.633V144H5.284zm2.697 0V10.869H144v1.809H9.331V144h-1.35zm2.698 0V14.49H144v1.813H12.028V144H10.68zm2.697 0V18.115H144v1.81H14.726V144h-1.35zm2.698 0V21.735H144v1.812H17.424V144h-1.349zm2.698 0V25.358H144v1.812H20.121V144h-1.348zm2.697 0V28.981H144v1.812H22.82V144h-1.35zm2.699 0V32.605H144v1.809H25.518V144h-1.35zm2.698 0V36.225H144v1.813H28.216V144h-1.349zm2.698 0V39.85H144v1.81H30.914V144h-1.35zm2.698 0V43.471H144v1.813H33.612V144h-1.349zm2.698 0V47.096H144v1.81H36.308V144h-1.347zm2.696 0V50.716H144v1.812H39.008V144h-1.35zm2.7 0V54.34H144v1.811H41.704V144h-1.347zm2.696 0V57.963H144v1.811H44.404V144h-1.35zm2.7 0V61.586H144v1.81H47.102V144h-1.35zm2.698 0V65.208H144v1.811H49.798V144H48.45zm2.696 0V68.83H144v1.812H52.496V144h-1.35zm2.698 0V72.454H144v1.81H55.196V144h-1.35zm2.7 0V76.074H144v1.813H57.892V144h-1.347zm2.696 0V79.699H144v1.81H60.592V144h-1.35zm2.7 0V83.32H144v1.814H63.288V144h-1.347zm2.696 0V86.945H144v1.81H65.986V144h-1.349zm2.698 0V90.566H144v1.811H68.683V144h-1.348zm2.697 0V94.189H144V96H71.382v48h-1.35zm2.699 0V97.812H144v1.811H74.08V144h-1.35zm2.698 0v-42.565H144v1.809H76.777V144h-1.348zm2.697 0v-38.945H144v1.813H79.475V144h-1.35zm2.698 0v-35.32H144v1.81H82.173V144h-1.349zm2.698 0v-31.698H144v1.811H84.871V144h-1.35zm2.698 0v-28.075H144v1.811H87.569V144H86.22zm2.698 0v-24.452H144v1.81H90.266V144h-1.348zm2.697 0v-20.83H144v1.813H92.964V144h-1.349zm2.698 0v-17.206H144v1.81H95.663V144h-1.35zm2.7 0v-13.584H144v1.81H98.36V144h-1.348zm2.696 0v-9.962H144v1.81h-42.941V144h-1.35zm2.699 0v-6.34H144v1.812h-40.242V144h-1.35zm2.699 0v-2.716H144v1.809h-37.545V144h-1.348z" fill="#54BAB3"/>
					</svg>
					<img loading="lazy" src="{{ params.image_mobile is defined ? params.image_mobile : params.image }}" alt="" class="absolute left-0 top-0 object-cover w-full h-full">
				</div>
			</div>

		</div>

		<div class="flex lg:hidden flex-wrap -mx-5">

			<div class="col-12">
				<a href="{{ params.cta.url }}" class="button button-full medium-button w-full lg:w-auto">{{ params.cta.title }}</a>
			</div>

		</div>
	</div>
</header>
