{#

Section with header. Header consult 1
Top: title and suptitle
Middle : image with pattern
Bottom : cta1 and 2 buttons. Should be inside image. bottom left
!!! in this case suptitle and title should be joined. just visualy should look diff
Right side: image with pattern behind

@param {string}  image
@param {string}  image_mobile
@param {string}  suptitle - text above normal title
@param {string}  title - header main title 
@param {object}  cta - left full button
{
  @param {string} title
  @param {string} url
}
@param {object} cta - right empty button 
{
  @param {string} title
  @param {string} url
}

Example:

{% set headerItems = { 
  "image" : "assets/images/girl-working-on-computer.jpg",
  "image_mobile" : "assets/images/girl-working-on-computer-mobile.jpg",
  "suptitle" : "Vaš partner pri doseganju",
  "title": "Finančnih ciljev", 
  "cta" : { 
    "title" : "Naročite svetovalca", 
    "url" : "#" 
  },
  "cta2" : {
    "title" : "Video klic v živo", 
    "url" : "#" 
  }
} %}

#}

{# Output #}
<header class="c-header c-header-consult-1 w-full relative lg:pt-36">
	<div class="container-only-lg">
		<div class="flex flex-wrap -mx-5">
			<div class="col-12 lg:col-12 xl:col-8 xl:offset-1">
				<div class="h6 lg:h2 title text-peppermint pt-8 lg:pt-0 lg:mb-2">{{ params.suptitle }}</div>
			</div>
		</div>
		<div class="flex flex-wrap -mx-5">
			<div class="col-12 lg:col-11 lg:offset-1 xl:col-8 xl:offset-2">
				<h1 class="h3 title lg:h1 large-title mb-12 lg:mb-11">
					<span class="absolute block" style="top:-999999px; left:-99999px;">{{ params.suptitle }}</span>
					{{ params.title}}</h1>
			</div>
		</div>
	</div>
	<div class="container-only-lg">
		<div class="flex flex-wrap -mx-5 relative">
			<div class="col-12 mb-0 lg:mb-0 relative">
				<div class="lg:hidden relative h-0 w-full -ml-5 mb-4" style="width:calc(100% + 40px); padding-bottom:calc(100% + 40px);">
					<svg class="absolute h-auto max-w-none -top-8 right-5" width="144" height="144" viewbox="0 0 144 144" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path opacity="0.5" fill-rule="evenodd" clip-rule="evenodd" d="M0 0H144V1.81152H1.23654V144H0V0ZM2.58548 144V3.62284H144V5.43417H3.93515V144H2.58548ZM5.28409 144V7.24549H144V9.05721H6.63266V144H5.28409ZM7.98163 144V10.8685H144V12.678H9.33115V144H7.98163ZM10.6801 144V14.4893H144V16.3033H12.0277V144H10.6801ZM13.3767 144V18.1147H144V19.9241H14.7262V144H13.3767ZM16.0752 144V21.7354H144V23.5472H17.4238V144H16.0752ZM18.7727 144V25.3585H144V27.1702H20.1212V144H18.7727ZM21.4702 144V28.9815H144V30.7933H22.8197V144H21.4702ZM24.1687 144V32.6046H144V34.414H25.5182V144H24.1687ZM26.8672 144V36.2254H144V38.0383H28.2157V144H26.8672ZM29.5647 144V39.8496H144V41.6602H30.9142V144H29.5647ZM32.2632 144V43.4715H144V45.2844H33.6117V144H32.2632ZM34.9607 144V47.0957H144V48.9051H36.3083V144H34.9607ZM37.6573 144V50.7165H144V52.5282H39.0078V144H37.6573ZM40.3567 144V54.3395H144V56.1513H41.7043V144H40.3567ZM43.0533 144V57.9626H144V59.7743H44.4038V144H43.0533ZM45.7527 144V61.5857H144V63.3962H47.1023V144H45.7527ZM48.4512 144V65.2076H144V67.0193H49.7979V144H48.4512ZM51.1468 144V68.8306H144V70.6424H52.4964V144H51.1468ZM53.8453 144V72.4537H144V74.2631H55.1958V144H53.8453ZM56.5447 144V76.0744H144V77.8873H57.8924V144H56.5447ZM59.2413 144V79.6987H144V81.5093H60.5918V144H59.2413ZM61.9407 144V83.3206H144V85.1335H63.2884V144H61.9407ZM64.6373 144V86.9448H144V88.7542H65.9859V144H64.6373ZM67.3349 144V90.5656H144V92.3773H68.6835V144H67.3349ZM70.0324 144V94.1886H144V96.0004H71.3819V144H70.0324ZM72.7309 144V97.8117H144V99.6234H74.0804V144H72.7309ZM75.4294 144V101.435H144V103.244H76.777V144H75.4294ZM78.126 144V105.055H144V106.868H79.4755V144H78.126ZM80.8244 144V108.68H144V110.49H82.173V144H80.8244ZM83.522 144V112.302H144V114.113H84.8715V144H83.522ZM86.2204 144V115.925H144V117.736H87.569V144H86.2204ZM88.918 144V119.548H144V121.358H90.2665V144H88.918ZM91.6154 144V123.17H144V124.983H92.9641V144H91.6154ZM94.313 144V126.794H144V128.604H95.6635V144H94.313ZM97.0124 144V130.416H144V132.226H98.3601V144H97.0124ZM99.709 144V134.038H144V135.848H101.059V144H99.709ZM102.408 144V137.66H144V139.473H103.758V144H102.408ZM105.107 144V141.284H144V143.093H106.455V144H105.107Z" fill="#54BAB3"/>
					</svg>
					<img src="{{ params.image_mobile is defined ? params.image_mobile : params.image }}" alt="" class="absolute left-0 top-0 object-cover w-full h-full">
				</div>
			</div>
		</div>
	</div>
	<div class="container-max">
		<div class="flex flex-wrap -mx-5 relative">
			<div class="col-12 mb-0 lg:mb-0 relative">
				<div class="hidden lg:block relative lg:h-140 xl:h-160">
					<svg class="absolute h-auto max-w-none lg:right-0 xl:right-18" style="width:296px; top:-56px;" width="296" height="296" viewbox="0 0 296 296" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path opacity=".5" fill-rule="evenodd" clip-rule="evenodd" d="M0 0h296v3.724H2.542V296H0V0zm5.315 296V7.447H296v3.723H8.089V296H5.315zm5.547 0V14.894H296v3.724H13.634V296h-2.772zm5.545 0V22.34H296v3.72H19.18V296h-2.773zm5.546 0V29.784H296v3.728H24.724V296h-2.77zm5.544 0V37.236H296v3.72H30.27V296h-2.773zm5.546 0V44.678H296v3.725H35.815V296h-2.772zm5.545 0V52.126H296v3.724H41.36V296h-2.772zm5.545 0V59.573H296v3.724H46.907V296h-2.774zm5.547 0V67.02H296v3.72H52.454V296H49.68zm5.547 0V74.463H296v3.727H57.999V296h-2.772zm5.545 0V81.913H296v3.722H63.546V296h-2.774zm5.547 0V89.358H296v3.727H69.09V296H66.32zm5.545 0V96.808H296v3.719H74.634V296h-2.77zm5.543 0V104.25H296v3.725H80.183V296h-2.776zm5.548 0V111.698H296v3.724H85.726V296h-2.77zm5.543 0V119.145H296v3.724H91.274V296h-2.776zm5.55 0V126.593H296v3.721H96.821V296h-2.774zm5.546 0V134.038H296v3.724H102.362V296h-2.768zm5.541 0V141.485H296v3.724H107.909V296h-2.774zm5.547 0V148.933H296v3.719H113.458V296h-2.776zm5.549 0V156.375H296v3.727H119.001V296h-2.77zm5.543 0V163.825H296v3.722H124.55V296h-2.776zm5.549 0V171.27H296v3.727H130.093V296h-2.77zm5.543 0V178.72H296v3.719H135.638V296h-2.772zm5.545 0V186.162H296v3.725H141.183V296h-2.772zm5.544 0V193.61H296v3.724H146.729V296h-2.774zm5.547 0v-94.943H296v3.724H152.276V296h-2.774zm5.547 0v-87.495H296v3.719H157.819V296h-2.77zm5.543 0v-80.053H296v3.727H163.366V296h-2.774zm5.547 0v-72.603H296v3.722H168.911V296h-2.772zm5.545 0v-65.158H296v3.724H174.458V296h-2.774zm5.547 0v-57.71H296v3.724H180.003V296h-2.772zm5.545 0v-50.263H296v3.722H185.548V296h-2.772zm5.545 0v-42.818H296v3.727H191.093V296h-2.772zm5.545 0v-35.368H296v3.722h-99.358V296h-2.776zm5.548 0v-27.923H296v3.722h-93.815V296h-2.771zm5.543 0v-20.478H296v3.722h-88.267V296h-2.776zm5.549 0v-13.033H296v3.726h-82.72V296h-2.774zm5.547 0v-5.583H296v3.719h-77.177V296h-2.77z" fill="#54BAB3"/>
					</svg>
					<img src="{{ params.image }}" alt="" class="absolute left-0 top-0 object-cover w-full h-full">
				</div>
			</div>
		</div>
	</div>
	<div class="container-only-lg">
		<div class="flex flex-wrap -mx-5 relative">
			<div class="col-12 mb-0 lg:mb-0 relative">
				<div class="cta-container relative lg:absolute lg:bottom-0 lg:left-5 lg:pr-24 lg:pt-11 lg:pb-10 lg:pl-24 lg:bg-white ">
					<div class="relative" style="z-index:1;">
						{% if params.cta %}
							<a href="{{ params.cta.url }}" class="button button-full medium-button w-full lg:w-auto mb-4 lg:mb-0 xl:mr-8 lg:inline-block">{{ params.cta.title }}</a>
						{% endif %}
						{% if params.cta2 %}
							<a href="{{ params.cta2.url }}" class="button button-empty medium-button w-full lg:w-auto lg:inline-block">{{ params.cta2.title }}</a>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</header>