{#

Section with text and image aside. Version 4

Left side: Text (title, desc, cta)
Right side: Image with 3 text items. they should be Animated on scroll effect.

@param {string}  title
@param {wysiwyg} description
@param {object}  cta 
{
  @param {string} title
  @param {string} url
}
@param {string} image  -  image url
@param {string} image_first - Should image be shown before text. default set on false
@param {string} textItem1 - text on top
@param {string} textItem2 - text in the middle
@param {string} textItem3 - text on bottom

Example:

    {% 
		set imageAsideItems3 = {
			"title": "Investment structure.",
			"description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
			"cta" : {
				"title" : "Želim svetovanje",
				"url" : "#"
			},
			"image" : "assets/images/bricks.png",
			"textItem1" : "Lastna sredstva",
			"textItem2" : "Sredstva vlagateljev",
			"textItem3" : "Bančno financiranje"
		} 
    %}

#}

{# Output #}
<section class="c-image-aside c-image-aside-4">
	<div class="container-only-lg">
		<div class="flex flex-wrap -mx-5 items-center">
			<div class="col-12 lg:col-6 xl:col-5 xl:offset-1 order-0 {{ params.image_first == true ? 'lg:order-1' : 'lg:order-0'}}">
				<h2 class="h4 lg:h2 title mb-3 lg:mb-6">{{ params.title }}</h2>
				<div class="small-paragraph lg:medium-paragraph mb-8 lg:mb-6 mw-none-mobile" style="max-width:408px;">{{ params.description|raw }}</div>
				{% if params.cta %}
					<div class="mb-6 lg:mb-0">
						<a href="{{ params.cta.url }}" class="button button-full medium-button w-full lg:w-auto">{{ params.cta.title }}</a>
					</div>
				{% endif %}
			</div>
			<div class="col-12 lg:col-6 order-1 {{ params.image_first == true ? 'lg:order-0' : 'lg:order-1'}}">
				{% if params.image %}
					<div class="bg-image relative bg-no-repeat bg-center -mx-5 lg:mx-0" style="{{ params.image ? "background-image: url(" ~ params.image ~ ");" : "" }}">
						{% if params.textItem2 %}
							<div class="text-item text-item-1 h4 lg:h2 title text-peppermint pt-13 mb-38 lg:mb-38 lg:pt-22">{{ params.textItem1 }}</div>
						{% endif %}
						{% if params.textItem2 %}
							<div class="text-item text-item-2 h4 lg:h2 title text-peppermint mb-48 lg:mb-44">{{ params.textItem2 }}</div>
						{% endif %}
						{% if params.textItem2 %}
							<div class="text-item text-item-3 h4 lg:h2 title text-peppermint pb-12 lg:pb-22">{{ params.textItem3 }}</div>
						{% endif %}
					</div>
				{% endif %}
			</div>
		</div>
	</div>
</section>
