{#

Section with text and image aside. Version 2_2. Because it's very similar to version 2

We have to extact styles in the css for the layout, so the html in
the content can be naked.

@param {string}  title
@param {wysiwyg} description
@param {object}  cta 
{
  @param {string} title
  @param {string} url
}
@param {string} image     image url
@param {string} layout    default set to 1. possible layouts 1,2,3,4,5, 6(used on invest landing page), 7 was aditional. version of 4

Example: 

  {% set imageAsideItems1 = {
    "title": "Spremljanje trga in priprava smernic",
    "description": "We examine the risk and cost ratio of every potential investment you are interested in and advise on its viability and worth.",
    "cta" : {
      "title" : "Naročite svetovalca",
      "url" : "#"
    },
    "image" : "assets/images/men-talking.png",
	"image_mobile" : "assets/images/men-talking-mobile.png",
    "layout" : 1,

  } %}

#}

{# Output #}
{% set imageClass = "w-full h-0 pb-full mb-4 lg:mb-0" %}
{% set patternClass = "absolute" %}
{% set rowClass = params.layout in [2,3,5,6,7] ? "items-center" : "" %}


<section class="c-image-aside c-image-aside-2_2 {{ params.layout ? " layout-" ~ params.layout : " layout-1" }}">
	<div class="container-only-lg">
		<div class="flex flex-wrap -mx-5 {{ rowClass }}">
			<div class="col-12 lg:col-6 xl:col-4 xl:offset-1 order-1 {{ params.layout in [1,3,5,6] == true ? 'lg:order-1' : 'lg:order-0'}}">
				<h3 class="h5 lg:h3 title mb-3 lg:mb-4">{{ params.title }}</h3>
				<div class="medium-paragraph lg:medium-paragraph mb-8 lg:mb-7  text-textgray">{{ params.description|raw }}</div>
				{% if params.cta %}
					<div class="mb-0">
						<a href="{{ params.cta.url }}" class="button button-full medium-button w-full lg:w-auto">{{ params.cta.title }}</a>
					</div>
				{% endif %}
			</div>
			<div class="col-12 lg:col-6 xl:offset-1 xl:col-5 order-0 {{ params.layout in [1,3,5,6] ? 'lg:order-0' : 'lg:order-1'}}">
					<div class="relative -mx-5 lg:mx-0">
						<div class="pattern-container">
							<svg width="184" height="184" viewBox="0 0 184 184" fill="none" xmlns="http://www.w3.org/2000/svg">
								<mask id="a" maskUnits="userSpaceOnUse" x="0" y="0" width="184" height="184">
									<path fill="#EAEFF5" d="M0 0h184v184H0z"/>
								</mask>
								<g mask="url(#a)">
									<path opacity=".5" fill-rule="evenodd" clip-rule="evenodd" d="M183.136.465H-5.959v3.434H181.51v269.724h1.626V.465zm-3.397 273.158V7.335H-5.959v3.437H177.97v262.851h1.769zm-3.541 0V14.208H-5.959v3.437h180.386v255.978h1.771zm-3.543 0V21.081H-5.959v3.436h176.841v249.106h1.773zm-3.545 0V27.953H-5.959v3.433h173.298v242.237h1.771zm-3.543 0v-238.8H-5.959v3.434H163.8v235.366h1.767zm-3.539 0V41.693H-5.959v3.439h166.212v228.491h1.775zm-3.547 0V48.568H-5.959v3.437h162.673v221.618h1.767zm-3.539 0V55.441H-5.959v3.437h159.126v214.745h1.775zm-3.546 0V62.313H-5.959v3.433h155.583v207.877h1.772zm-3.543 0V69.183H-5.959v3.434h152.044v201.006h1.768zm-3.539 0V76.053H-5.959v3.437h148.501v194.133h1.772zm-3.543 0V82.926H-5.959v3.437h144.954v187.26h1.776zm-3.547 0V89.799H-5.959v3.437h141.415v180.387h1.768zm-3.539 0V96.672H-5.959v3.433h137.87v173.518h1.774zm-3.545 0V103.541H-5.959v3.436H128.37v166.646h1.77zm-3.541 0v-163.21H-5.959v3.437h130.786v159.773h1.772zm-3.543 0V117.286H-5.959v3.437h127.243v152.9h1.772zm-3.543 0V124.159H-5.959v3.437h123.7v146.027h1.772zm-3.543 0V131.032H-5.959v3.433h120.157v139.158h1.772zm-3.543 0V137.901H-5.959v3.437h116.616v132.285h1.77zm-3.541 0V144.774H-5.959v3.434h113.073v125.415h1.772zm-3.543 0V151.644H-5.959v3.441h109.53v118.538h1.772zm-3.543 0V158.521H-5.959v3.431h105.987v111.671h1.772zm-3.543 0V165.388H-5.96v3.437H96.485v104.798h1.772zm-3.543 0V172.261H-5.96v3.437h98.901v97.925h1.772zm-3.543 0v-94.489H-5.96v3.437h95.358v91.052h1.772zm-3.543 0v-87.616H-5.959v3.436h91.815v84.18h1.772zm-3.543 0v-80.744H-5.959v3.431h88.272v77.313h1.772zm-3.543 0v-73.877H-5.959v3.437h84.73v70.44h1.771zm-3.543 0v-67.004H-5.959v3.439h81.186v63.565H77zm-3.543 0v-60.129H-5.959v3.437h77.644v56.692h1.771zm-3.543 0v-53.256H-5.959v3.436h74.1v49.82h1.772zm-3.543 0v-46.384H-5.959v3.431h70.558v42.953h1.771zm-3.543 0v-39.517H-5.959v3.437H61.06v36.08h1.767zm-3.539 0v-32.644H-5.959v3.437h63.474v29.207h1.773zm-3.545 0v-25.771H-5.959v3.437h59.93v22.334h1.772zm-3.543 0v-18.898H-5.959v3.435h56.388v15.463H52.2zm-3.543 0v-12.027H-5.959v3.433h52.847v8.594h1.77zm-3.54 0v-5.158H-5.96v3.438h49.302v1.72h1.773z" fill="#54BAB3"/>
								</g>
							</svg>
						</div>
						<div class="image-container">
							<img src="{{ params.image }}" loading="lazy" alt="" class="hidden lg:block absolute top-0 left-0 object-cover w-full h-full">
							<img src="{{ params.image_mobile is defined ? params.image_mobile : params.image }}" loading="lazy" alt="" class="lg:hidden absolute top-0 left-0 object-cover w-full h-full">
						</div>
					</div>
			</div>
		</div>
	</div>
</section>
