{#
    Section with number and description. Advanced version 1

    @param {string}  number
    @param {string}  suptitle
    @param {string}  title
    @param {string}  description 

    {%
        set numberWithDescription = {
            "number" : "17",
            "title" : "donosnosti",
            "suptitle" : "procentov",
            "description" : "so ustvarile stranke, ki so sodelovale z našimi svetovalci v zadnjem letu."
        }
    %}
#}

{# Output #}
<section class="c-number-with-description c-number-with-description-1 overflow-hidden">
    <div class="container-only-lg">
        <div class="flex flex-wrap -mx-5">
            <div class="col-12 lg:col-10 xl:col-8 xl:offset-1">
                <div class="bg-arcticsilver lg:flex lg:items-center pt-16 lg:pt-24 pb-24 lg:pb-26 -mx-5 lg:mx-0 relative">
                    <div class="col-12 lg:col-5 lg:offset-1 text-center lg:text-right mb-4 lg:mb-0">
                        <div class="lg-number lg:lg3-number number-mask bg-arcticsilver" style="background-image: url({{manifest("assets/images/mask1.svg")}});">{{ params.number }}</div>
                    </div>
                    
                    <div class="col-12 lg:col-6 text-center lg:text-left">
                        <div class="text-peppermint arboria-main-button">{{ params.suptitle }}</div>
                        <h2 class="h4 lg:h4 title text-coalblack lg:pb-10">{{ params.title }}</h2>
                    </div>

                    
                </div>
            </div>
        </div>
        <div class="flex flex-wrap -mx-5 lg:-mt-45">
            <div class="col-12 lg:col-7 xl:col-6 lg:offset-5 xl:offset-5  relative">
                <svg class="absolute right-5 -top-10 lg:-top-20 lg:right-18 xl:right-34 w-50 lg:w-56" width="216" height="216" viewBox="0 0 216 216" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="216" height="216">
                    <rect width="216" height="216" fill="#EAEFF5"/>
                    </mask>
                    <g mask="url(#mask0)">
                    <path opacity="0.5" fill-rule="evenodd" clip-rule="evenodd" d="M214.983 0.544922H-6.99805V4.57694H213.075V321.209H214.983V0.544922ZM210.995 321.209V8.61044H-6.99805V12.6453H208.92V321.209H210.995ZM206.841 321.209V16.6788H-6.99805V20.7137H204.761V321.209H206.841ZM202.682 321.209V24.7472H-6.99805V28.782H200.597V321.209H202.682ZM198.518 321.209V32.8155H-6.99805V36.8458H196.438V321.209H198.518ZM194.359 321.209V40.8793H-6.99805V44.9119H192.284V321.209H194.359ZM190.204 321.209V48.9454H-6.99805V52.9802H188.12V321.209H190.204ZM186.04 321.209V57.0137H-6.99805V61.0486H183.965V321.209H186.04ZM181.886 321.209V65.0821H-6.99805V69.1169H179.802V321.209H181.886ZM177.722 321.209V73.1504H-6.99805V77.1807H175.642V321.209H177.722ZM173.563 321.209V81.2142H-6.99805V85.2468H171.488V321.209H173.563ZM169.408 321.209V89.2803H-6.99805V93.3151H167.329V321.209H169.408ZM165.249 321.209V97.3486H-6.99805V101.383H163.165V321.209H165.249ZM161.086 321.209V105.417H-6.99805V109.452H159.01V321.209H161.086ZM156.931 321.209V113.485H-6.99805V117.513H154.847V321.209H156.931ZM152.767 321.209V121.547H-6.99805V125.582H150.692V321.209H152.767ZM148.613 321.209V129.615H-6.99805V133.65H146.533V321.209H148.613ZM144.454 321.209V137.684H-6.99805V141.718H142.374V321.209H144.454ZM140.294 321.209V145.752H-6.99805V149.787H138.215V321.209H140.294ZM136.135 321.209V153.82H-6.99805V157.851H134.056V321.209H136.135ZM131.976 321.209V161.884H-6.99805V165.919H129.897V321.209H131.976ZM127.817 321.209V169.952H-6.99805V173.985H125.737V321.209H127.817ZM123.658 321.209V178.018H-6.99805V182.056H121.578V321.209H123.658ZM119.499 321.209V186.089H-6.99805V190.117H117.419V321.209H119.499ZM115.34 321.209V194.151H-6.99805V198.185H113.26V321.209H115.34ZM111.181 321.209V202.219H-6.99805V206.254H109.101V321.209H111.181ZM107.021 321.209V210.287H-6.99805V214.322H104.942V321.209H107.021ZM102.862 321.209V218.356H-6.99805V222.391H100.787V321.209H102.862ZM98.7077 321.209V226.424H-6.99805V230.452H96.628V321.209H98.7077ZM94.5486 321.209V234.486H-6.99805V238.52H92.4689V321.209H94.5486ZM90.3894 321.209V242.554H-6.99805V246.589H88.3097V321.209H90.3894ZM86.2303 321.209V250.622H-6.99805V254.657H84.1506V321.209H86.2303ZM82.0712 321.209V258.691H-6.99805V262.725H79.9915V321.209H82.0712ZM77.912 321.209V266.759H-6.99805V270.787H75.8323V321.209H77.912ZM73.7529 321.209V274.82H-6.99805V278.855H71.6778V321.209H73.7529ZM69.5983 321.209V282.889H-6.99805V286.924H67.5141V321.209H69.5983ZM65.4346 321.209V290.957H-6.99805V294.992H63.3549V321.209H65.4346ZM61.2755 321.209V299.026H-6.99805V303.058H59.1958V321.209H61.2755ZM57.1163 321.209V307.092H-6.99805V311.122H55.0412V321.209H57.1163ZM52.9618 321.209V315.155H-6.99805V319.19H50.8775V321.209H52.9618Z" fill="#54BAB3"/>
                    </g>
                </svg>
                <div class="relative bg-coalblack pt-9 pb-7 lg:pt-24 lg:pb-26 -mx-5 lg:mx-0">
                    <div class="mw-none-mobile lg:mx-auto px-5 lg:px-0" style="max-width:408px;">
                        <div class="h-1 w-8 bg-peppermint mb-4"></div>
                        <p class="h5 lg:h5 title text-white">{{ params.description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>