{#

Person info - version 2
Left: image with pattern
Right: text. Name, job title, quote, description and cta

@param {int} id - advisor id
@param {string} image - person's image
@param {string} image_mobile - mobile image
@param {string} title - name of person
@param {string} jobtitle - position of person
@param {string} quote - her/his quote
@param {bool}   image_first - true or false - default is false
@param {object}  cta 
{
  @param {string} title
  @param {string} url
}

Example: 

  {%
      set personInfoItems = {
		"id" : 5,
        "image" : "assets/images/Vegelj4-big.png",
        "image_mobile": "assets/images/Vegelj4-big.png",
        "title": "Dr. David Vegelj",
        "jobtitle" : "Cheif investment officer",
        "quote" : "Key statement about the product and how exciting it is, or some other manner of interesting quote.",
        "cta" : {
            "title" : "NAROČITE SVETOVALCA",
            "url" : "#"
        },
        "image_first" : true, 
      }
  %}

#}

{# Output #}
<section class="c-person-info c-person-info-2 {{ params.image_first == true ? "lg:bg-transparent" : "lg:bg-arcticsilver" }}">
	<div class="container-only-lg">
		<div class="flex flex-wrap lg:items-center -mx-5">
			<div class="col-12 lg:col-6 xl:col-5 bg-arcticsilver lg:bg-transparent lg:mt-22 {{ params.image_first == true ? "xl:offset-1 lg:order-0" : "lg:order-1" }}">
				<div class="hidden lg:block w-full relative overflow-hidden" style="height:620px;">
					<svg class="absolute h-auto max-w-none" style="width:60%; top:22%; left:20%;" width="174" height="174" viewBox="0 0 174 174" fill="none" xmlns="http://www.w3.org/2000/svg">
						<mask id="a" maskUnits="userSpaceOnUse" x="0" y="0" width="174" height="174">
							<path fill="#EAEFF5" d="M.6.8h172.8v172.8H.6z"/>
						</mask>
						<g mask="url(#a)">
							<path opacity=".5" fill-rule="evenodd" clip-rule="evenodd" d="M172.588 1.236H-4.997V4.46h176.06v253.307h1.525V1.237zm-3.189 256.531V7.687H-4.997v3.228h172.734v246.852h1.662zm-3.326 0V14.142H-4.997v3.228H164.41v240.397h1.663zm-3.326 0V20.597H-4.997v3.227h166.078v233.943h1.666zm-3.33 0V27.051H-4.997v3.224h162.751v227.492h1.663zm-3.327 0V33.502H-4.997v3.226H154.43v221.039h1.66zm-3.324 0V39.955H-4.997v3.228H151.1v214.584h1.667zm-3.331 0V46.41H-4.997v3.228h152.772v208.129h1.66zm-3.323 0V52.864H-4.997v3.228h149.441v201.675h1.668zm-3.332 0V59.319H-4.997v3.224h146.114v195.224h1.663zm-3.327 0V65.77H-4.997v3.226h142.79v188.771h1.66zm-3.323 0V72.223H-4.997v3.228h139.463v182.316h1.664zm-3.327 0V78.677h-137.8v3.229h136.132v175.861h1.668zm-3.332 0V85.133H-4.997v3.228h132.808v169.406h1.66zm-3.324 0V91.587H-4.997v3.222h129.479v162.958h1.665zm-3.328 0V98.037H-4.997v3.227h126.154v156.503h1.662zm-3.326 0V104.491H-4.997v3.228H117.83v150.048h1.664zm-3.328 0V110.945H-4.997v3.229h119.499v143.593h1.663zm-3.326 0V117.4H-4.997v3.228h116.172v137.139h1.664zm-3.328 0V123.855H-4.997v3.224h112.844v130.688h1.664zm-3.327 0V130.306H-4.996v3.228h109.518v124.233h1.662zm-3.326 0V136.761H-4.997v3.226h106.191v117.78h1.664zm-3.327 0V143.214H-4.997v3.229H97.867v111.324h1.664zm-3.327 0V149.67h-101.2v3.223H94.54v104.874h1.664zm-3.328 0V156.119H-4.997v3.228h96.21v98.42h1.663zm-3.327 0v-95.193H-4.997v3.228h92.882v91.965h1.664zm-3.327 0v-88.738H-4.997v3.227h89.555v85.511h1.664zm-3.327 0v-82.284H-4.997v3.228h86.228v79.056h1.664zm-3.328 0v-75.829H-4.997v3.222h82.9v72.607h1.664zm-3.327 0v-69.38H-4.997v3.228h79.573v66.152h1.664zm-3.327 0v-62.925h-77.91v3.228H71.25v59.697h1.664zm-3.327 0v-56.47H-4.997v3.227h72.919v53.243h1.664zm-3.328 0v-50.016H-4.997v3.228h69.591v46.788h1.664zm-3.327 0v-43.561H-4.997v3.222h66.264v40.339h1.663zm-3.328 0v-37.112h-64.6v3.228h62.94v33.884h1.66zm-3.323 0V227.11H-4.997v3.228h59.611v27.429h1.666zm-3.33 0v-24.202H-4.997v3.227h56.283v20.975h1.664zm-3.327 0v-17.748h-54.62v3.226H47.96v14.522h1.663zm-3.327 0v-11.295H-4.997v3.224h49.631v8.071h1.662zm-3.325 0v-4.844H-4.997v3.228h46.302v1.616h1.666z" fill="#54BAB3"/>
						</g>
					</svg>					
					<img loading="lazy" src="{{ params.image }}" alt="" class="absolute left-0 top-0 object-contain object-bottom w-full h-full">
				</div>
			
				<div class="lg:hidden w-full h-0 pb-full relative mt-15">
					<svg class="absolute h-auto max-w-none" style="width:60%; top:15%; left:20%;" width="174" height="174" viewBox="0 0 174 174" fill="none" xmlns="http://www.w3.org/2000/svg">
						<mask id="a" maskUnits="userSpaceOnUse" x="0" y="0" width="174" height="174">
							<path fill="#EAEFF5" d="M.6.8h172.8v172.8H.6z"/>
						</mask>
						<g mask="url(#a)">
							<path opacity=".5" fill-rule="evenodd" clip-rule="evenodd" d="M172.588 1.236H-4.997V4.46h176.06v253.307h1.525V1.237zm-3.189 256.531V7.687H-4.997v3.228h172.734v246.852h1.662zm-3.326 0V14.142H-4.997v3.228H164.41v240.397h1.663zm-3.326 0V20.597H-4.997v3.227h166.078v233.943h1.666zm-3.33 0V27.051H-4.997v3.224h162.751v227.492h1.663zm-3.327 0V33.502H-4.997v3.226H154.43v221.039h1.66zm-3.324 0V39.955H-4.997v3.228H151.1v214.584h1.667zm-3.331 0V46.41H-4.997v3.228h152.772v208.129h1.66zm-3.323 0V52.864H-4.997v3.228h149.441v201.675h1.668zm-3.332 0V59.319H-4.997v3.224h146.114v195.224h1.663zm-3.327 0V65.77H-4.997v3.226h142.79v188.771h1.66zm-3.323 0V72.223H-4.997v3.228h139.463v182.316h1.664zm-3.327 0V78.677h-137.8v3.229h136.132v175.861h1.668zm-3.332 0V85.133H-4.997v3.228h132.808v169.406h1.66zm-3.324 0V91.587H-4.997v3.222h129.479v162.958h1.665zm-3.328 0V98.037H-4.997v3.227h126.154v156.503h1.662zm-3.326 0V104.491H-4.997v3.228H117.83v150.048h1.664zm-3.328 0V110.945H-4.997v3.229h119.499v143.593h1.663zm-3.326 0V117.4H-4.997v3.228h116.172v137.139h1.664zm-3.328 0V123.855H-4.997v3.224h112.844v130.688h1.664zm-3.327 0V130.306H-4.996v3.228h109.518v124.233h1.662zm-3.326 0V136.761H-4.997v3.226h106.191v117.78h1.664zm-3.327 0V143.214H-4.997v3.229H97.867v111.324h1.664zm-3.327 0V149.67h-101.2v3.223H94.54v104.874h1.664zm-3.328 0V156.119H-4.997v3.228h96.21v98.42h1.663zm-3.327 0v-95.193H-4.997v3.228h92.882v91.965h1.664zm-3.327 0v-88.738H-4.997v3.227h89.555v85.511h1.664zm-3.327 0v-82.284H-4.997v3.228h86.228v79.056h1.664zm-3.328 0v-75.829H-4.997v3.222h82.9v72.607h1.664zm-3.327 0v-69.38H-4.997v3.228h79.573v66.152h1.664zm-3.327 0v-62.925h-77.91v3.228H71.25v59.697h1.664zm-3.327 0v-56.47H-4.997v3.227h72.919v53.243h1.664zm-3.328 0v-50.016H-4.997v3.228h69.591v46.788h1.664zm-3.327 0v-43.561H-4.997v3.222h66.264v40.339h1.663zm-3.328 0v-37.112h-64.6v3.228h62.94v33.884h1.66zm-3.323 0V227.11H-4.997v3.228h59.611v27.429h1.666zm-3.33 0v-24.202H-4.997v3.227h56.283v20.975h1.664zm-3.327 0v-17.748h-54.62v3.226H47.96v14.522h1.663zm-3.327 0v-11.295H-4.997v3.224h49.631v8.071h1.662zm-3.325 0v-4.844H-4.997v3.228h46.302v1.616h1.666z" fill="#54BAB3"/>
						</g>
					</svg>	
					<img loading="lazy" src="{{ params.image_mobile is defined ? params.image_mobile : params.image }}" alt="" class="absolute top-0 left-0 object-contain object-bottom w-full h-full">
				</div>
				
			</div>
			<div class="col-12 lg:col-6 xl:col-5 {{ params.image_first == true ? "lg:order-1" : "xl:offset-1 lg:order-0" }}">
				<div class="h-1 w-8 bg-peppermint mt-8 lg:mt-0 mb-2"></div>
				<h5 class="h5 lg:h5 title text-coalblack">{{ params.title }}</h5>
				<p class="arboria-main-button text-midtonegray mb-3 lg:mb-7">{{ params.jobtitle }}</p>
				<p class="regular-quote lg:leading-quote text-coalblack mb-8 lg:mb-8">{{ params.quote }}</p>
				{% if params.cta %}
					<div class="">
						<a data-advisor-id ="{{ params.id }}" href="{{ params.cta.url }}" class="button button-full medium-button w-full lg:w-auto">{{ params.cta.title }}</a>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
</section>
