{#

Section quiz - age

@param {string}  title
@param {string}  suptitle
@param {object}  cta 
{
  @param {string} title
  @param {string} url
}
@param {object}  cta2 
{
  @param {string} title
  @param {string} url
}
@param {object}  cta2 
{
  @param {string} title
  @param {string} url
}
@param {array}  items - checkboxes
{
  @param {string} value
  @param {string} name
  @param {string} title
}

Example:

    {%
        set question4 = {
            "title": "What is your age?",
            "suptitle" : "Vprašanje 4",
            "cta" : {
            "title" : "Nazaj",
            "url" : "#"
            },
            "cta2" : {
                "title" : "Naprej",
                "url" : "#"
            },
            "cta3" : {
                "title" : "Preskoči",
                "url" : "#"
            },
            "items" : [
                {
                    "value" : "",
                    "name" : "age",
                }
            ]
        }
    %}

#}

{# Output #}
<section class="c-quiz-age c-quiz-age-1  w-full">
    <div class="block lg:flex lg:flex-row lg:min-h-screen w-full lg:items-center relative">
	<div class="container-only-lg">
		<div class="flex flex-wrap -mx-5 items-center">
            <div class="col-12 lg:col-6 xl:offset-1 xl:col-4">
                <p class="arboria-small-subheader text-white mb-4 lg:mb-6">{{ params.suptitle }}</p>
				<h2 class="h4 lg:h2 title text-white mb-8 lg:mb-0">{{ params.title }}</h2>
            </div>
            <div class="col-12 lg:col-6 xl:offset-1 xl:col-4">
                {% for item in params.items %}
                    <label class="input-label-flex mb-4 lg:mb-4 items-center cursor-pointer">
                        <input type="number" name="{{ item.name }}" class="input-text">
                    </label>
                {% endfor %}
            </div>
		</div>
	</div>
    <div class="w-full mt-8 lg:mt-0 relative lg:absolute lg:bottom-15">
        <div class="flex flex-wrap lg:justify-between lg:items-center  w-full">
				<div class="col-12 lg:col-6 lg:text-left">
                    {% if params.cta %}
						<button onClick="prevButton_quiz1();" class="button button-empty medium-button w-full lg:w-auto mb-4 lg:mb-0">{{ params.cta.title }}</button>
					{% endif %}
                </div>
                <div class="col-12 lg:col-6 lg:text-right">
					{% if params.cta2 %}
						<button onClick="nextButton_quiz1();" class="button button-full medium-button w-full lg:w-auto">{{ params.cta2.title }}</button>
					{% endif %}
				</div>
		</div>
    </div>
    </div>
</section>
