
<label class="radio-label-card relative {{class}}">
	<input {{ checked == true ? "checked" : "" }} type="radio" name="{{name}}" value="{{value}}">
	<div class="radio-label-card__text"><div>{{text|raw}}</div></div>
	<img class="radio-label-card__check absolute right-0 top-0" src="https://d256619kyxncpv.cloudfront.net/gui/site/img/landing/gifting/svg/gifting_ok.svg">
</label>
