{#
  Section with person's image and quote (+name + persons position)

  We have to extact styles in the css for the layout, so the html in
  the content can be naked.

  @param {string}  quote
  @param {string } name
  @param {string } jobtitle   - under name
  @param {string} image       - image url
  @param {string} image_first - is image first or later. background color depends on this parameter.
#}

{# Output #}
<section class="c-testimonial c-testimonial-1">
    <div class="container-only-lg">
          <div class="flex flex-wrap -mx-5 items-center lg:mx-0 {{ params.image_first == true ? '' : 'bg-arcticsilver' }}">
            <div class="col-12 flex-1 lg:col-8 order-0 {{ params.image_first == true ? 'lg:order-1' : 'lg:order-0'}}">
                <div class="mw-none-mobile {{ params.image_first == true ? 'lg:text-left' : 'lg:text-right lg:mr-0 lg:ml-auto' }}" style="max-width:520px;">
                    <div>
                        <img class="inline-block w-6 h-auto lg:w-8 mb-4 lg:mb-4 mt-12 lg:mt-0" src="{{ manifest('assets/images/quote-peppermint.svg') }}" alt="quote">
                    </div>
                    <div class="regular-quote lg:leading-quote ">{{ params.quote }}</div>
                    <div class="hidden separator-peppermint w-8 bg-peppermint lg:inline-block mt-4 mb-4" style="height:2px;"></div>
                    <div class="hidden lg:block h5 title mb-2 lg:mb-4" >{{ params.name }}</div>
                    <div class="hidden lg:block navigational-button">{{ params.jobtitle }}</div>
                </div>
            </div>
            <div class="col-12 flex-1 lg:col-4 order-1 {{ params.image_first == true ? 'lg:order-0' : 'lg:order-1'}}">
                <div class="relative">
                    <div class="w-full h-0 pb-full lg:mb-0 border-b border-peppermint lg:border-none">
                        <img src="{{ params.image }}" loading="lazy" alt="" class="absolute top-0 left-0 object-cover w-full h-full">
                    </div>
                </div>
                <div class="mt-4 mb-8 lg:hidden">
                    <div class="h5 title mb-2 lg:mb-4" >{{ params.name }}</div>
                    <div class="navigational-button">{{ params.jobtitle }}</div>
                </div>
            </div>
        </div>
    </div>
</section>