{#

Section with advanced text. Version 1
left side: text with cta 
middle: items (numbers, and captions)
right: image with some background element

@param {string}  title
@param {string} description
@param {object}  cta 
{
  @param {string} title
  @param {string} url
}
@param {string} image
@param {string} image_mobile
@param {array} items 
{
    @param {string} suptitle
    @param {string} title
    @param {string} caption
}

Example:

    {% 
      set textAdvancedItems = {
        "title" : "Our experience",
        "description": "Potrditev dolgoletnega kvalitetnega dela na področju naložbenega svetovanja smo prejeli s strani največje svetovne medijske organizacije za naložbene profesionalce Citywire, ki je s povabilom na elitno konferenco v Montreuxju Vzajemce uvrstil med sto najboljših investicijsko svetovalnih družb v Evropi",
        "items" : [
          {
            "title" : "100.000.000",
            "suptitle" : "Več kot",
            "caption" : "evrov vloženih sredstev strank"
          },
          {
            "title" : "20.000",
            "suptitle" : "Več kot",
            "caption" : "strank"
          },
          {
            "title" : "17%",
            "suptitle" : "Več kot",
            "caption" : "donosnost"
          }
        ],
        "cta" : {
          "title" : "Naročite svetovalca",
          "url" : "#",
        },
        "image" : "assets/images/mansuit2.png",
        "image_mobile" : "assets/images/mansuit2.png",
      } 
    %}

#}

{# Output #}
<section class="c-text-advanced c-text-advanced-1">
	<div class="container-only-lg">
		<div class="flex flex-wrap -mx-5">
			<div class="col-12 lg:col-4 xl:col-5">
				<h2 class="h4 lg:h1 title text-coalblack mb-6 lg:mb-4">{{ params.title }}</h2>
				
				<div class="lg:hidden relative h-0 w-full mb-10 -ml-5" style="width:calc(100% + 40px); padding-bottom:calc(100% + 40px);">
					<img loading="lazy" src="{{ params.image_mobile is defined ? params.image_mobile : params.image }}" class="absolute top-0 left-0 object-cover w-full h-full" alt="">
					<svg class="absolute -bottom-6 -z-1 right-4" width="160" height="160" viewBox="0 0 160 160" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path opacity=".5" fill-rule="evenodd" clip-rule="evenodd" d="M0 0h160v2.014H1.375V160H0V0zm2.873 160V4.027H160V6.04H4.373V160h-1.5zm2.998 0V8.052H160v2.012H7.37V160H5.87zm2.998 0V12.077H160v2.012H10.368V160h-1.5zm2.998 0V16.101H160v2.014H13.366V160h-1.5zm2.998 0V20.128H160v2.012H16.362V160h-1.497zm2.996 0V24.153H160v2.012H19.36V160h-1.5zm2.999 0V28.177H160v2.013H22.357V160H20.86zm2.996 0V32.202H160v2.013H25.355V160h-1.5zm2.998 0V36.228H160v2.014H28.353V160h-1.5zm2.998 0V40.254H160v2.012H31.351V160h-1.5zm2.998 0V44.278H160v2.012H34.35V160h-1.5zm2.999 0V48.303H160v2.013H37.346V160H35.85zm2.996 0V52.328H160v2.014H40.342V160h-1.497zm2.996 0V56.354H160v2.012H43.342V160h-1.5zm3 0V60.379H160v2.012H46.338V160h-1.497zm2.996 0V64.404H160v2.012H49.338V160h-1.5zm3 0V68.429H160v2.013H52.335V160h-1.498zm2.997 0V72.455H160v2.012H55.33V160h-1.496zm2.994 0V76.48H160v2.012H58.33V160h-1.502zm3 0V80.505H160v2.013H61.329V160h-1.5zm3 0V84.53H160v2.013H64.326V160h-1.498zm2.997 0V88.555H160v2.013H67.325V160h-1.5zm2.999 0V92.58H160v2.013H70.32V160h-1.496zm2.995 0V96.606H160v2.012H73.318V160h-1.5zm2.998 0v-59.369H160v2.012H76.315V160h-1.498zm2.997 0v-55.345H160v2.013H79.312V160h-1.498zm2.997 0v-51.319H160v2.012H82.311V160h-1.5zm2.999 0v-47.294H160v2.013H85.308V160H83.81zm2.997 0v-43.269H160v2.013H88.306V160h-1.499zm2.998 0v-39.243H160v2.012H91.303V160h-1.498zm2.997 0v-35.218H160v2.013H94.303V160h-1.5zm3 0v-31.192H160v2.011H97.298V160h-1.496zm2.995 0v-27.169H160v2.013h-59.703V160h-1.5zm2.999 0v-23.143H160v2.013h-56.706V160h-1.498zm2.996 0v-19.117H160v2.011h-53.707V160h-1.501zm2.999 0v-15.093H160v2.013h-50.711V160h-1.498zm2.996 0v-11.068H160v2.012h-47.711V160h-1.502zm3 0v-7.043H160v2.012h-44.713V160h-1.5zm2.999 0v-3.018H160v2.013h-41.718V160h-1.496z" fill="#54BAB3"/>
					</svg>
				</div>

				<p class="small-paragraph lg:medium-paragraph text-coalblack mb-6 lg:mb-8 mw-none-mobile" style="max-width:408px;">{{ params.description }}</p>
				<div class="hidden lg:block">
					<a href="{{ params.cta.url }}" class="button button-full medium-button w-full lg:w-auto">{{ params.cta.title }}</a>
				</div>
			</div>
			<div class="col-12 lg:col-4 xl:col-3">
				<ul class="lg:mt-36">
					{% for item in params.items %}
						<li class="mb-6 lg:mb-10 pl-9 lg:pl-10 relative">
							<div class="small-tag lg:big-tag text-textgray mb-1 lg:mb-0">{{ item.suptitle }}</div>
							<h5 class="h4 lg:h3 title text-coalblack mb-0 lg:mb-0">{{ item.title }}</h5>
							<p class="small-paragraph text-textgray">{{ item.caption }}</p>
							<div class="absolute left-0 w-4 h-4 border-2 border-solid border-peppermint" style="border-radius:50%; top:calc(50% - 8px);"></div>
						</li>
					{% endfor %}
				</ul>
				<div class="block lg:hidden">
					<a href="{{ params.cta.url }}" class="button button-full medium-button w-full lg:w-auto">{{ params.cta.title }}</a>
				</div>
			</div>
			<div class="hidden lg:block lg:col-3 xl:col-3 lg:offset-1 xl:offset-1 relative">
				<div style="width:364px; height: 552px;" class="relative lg:mt-3 mb-16">
					<svg style="left:-112px;" class="absolute -bottom-16 lg:-z-1 bg-no-repeat bg-left-top" width="476" height="344" viewBox="0 0 476 344" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path opacity=".5" fill-rule="evenodd" clip-rule="evenodd" d="M0 0h476v4.33H4.088V344H0V0zm8.547 343.999V8.657H476v4.327H13.01V344H8.546zm8.921 0V17.311H476v4.328H21.922v322.36h-4.454zm8.913 0V25.966H476v4.325H30.843v313.708H26.38zm8.92 0V34.618H476v4.33H39.76v305.051h-4.458zm8.918 0V43.274H476v4.328H48.676v296.397H44.22zm8.916 0V51.929H476v4.325H57.595v287.745h-4.46zm8.92 0V60.581H476v4.327H66.51V344h-4.456zm8.914 0V69.235H476v4.328H75.429v270.436h-4.46zm8.919 0V77.889H476v4.33H84.35v261.78h-4.462zm8.92 0V86.546H476v4.325H93.268V344h-4.46zm8.92 0v-248.8H476v4.324H102.189V344h-4.462zm8.92 0V103.85H476v4.328H111.104v235.821h-4.456zm8.915 0V112.505H476v4.329H120.017v227.165h-4.454zm8.913 0V121.161H476v4.325H128.941v218.513h-4.465zm8.924 0V129.813H476v4.328H137.856v209.858H133.4zm8.915 0V138.468H476v4.327H146.779v201.204h-4.464zm8.923 0V147.122H476v4.329H155.698v192.548h-4.46zm8.919 0V155.778H476v4.326H164.607v183.895h-4.45zm8.909 0V164.431H476v4.327H173.527v175.241h-4.461zm8.92 0V173.085H476v4.327H182.45v166.587h-4.464zm8.923 0v-162.26H476v4.327H191.365v157.933h-4.456zm8.915 0V190.393H476v4.328H200.288v149.278h-4.464zm8.923 0V199.048H476v4.327H209.2v140.624h-4.453zm8.912 0V207.702H476v4.327H218.121v131.97h-4.462zm8.921 0V216.356H476v4.326H227.036v123.317h-4.456zm8.915 0v-118.99H476v4.327H235.953v114.663h-4.458zm8.917 0V233.663H476v4.327H244.875v106.009h-4.463zm8.923 0V242.317H476v4.328H253.792v97.354h-4.457zm8.916 0v-93.027H476v4.327H262.709v88.7h-4.458zm8.917 0v-84.373H476v4.327H271.628v80.046h-4.46zm8.919 0V268.28H476v4.329H280.549v71.39h-4.462zm8.921 0v-67.063H476v4.324H289.462v62.739h-4.454zm8.913 0v-58.412H476v4.327H298.382v54.085h-4.461zm8.92 0v-49.758H476v4.329H307.297v45.429h-4.456zm8.915 0v-41.102H476v4.326H316.22v36.776h-4.464zm8.923 0V311.55H476v4.327H325.135v28.122h-4.456zm8.915 0v-23.795H476v4.325H334.057v19.47h-4.463zm8.922 0v-15.143H476v4.328H342.976v10.815h-4.46zm8.919 0v-6.488H476v4.327H351.889v2.161h-4.454z" fill="#54BAB3"/>
					</svg>
					<img loading="lazy" src="{{ params.image }}" class="object-cover w-full h-full" alt="">
				</div>
			</div>
		</div>
	</div>
</section>
