{#

Section with advanced text. Version 2
left side: text with cta 
middle: items (numbers, and captions)
right: image with some background element

@param {string}  title
@param {object}  cta 
{
  @param {string} title
  @param {string} url
}
@param {string} image
@param {string} image_mobile
@param {array} items 
{
    @param {string} suptitle
    @param {string} title
    @param {string} caption
}

Example:

    {% 
      set textAdvancedItems = {
        "title" : "Our experience",
        "items" : [
          {
            "title" : "100.000.000",
            "suptitle" : "Več kot",
            "caption" : "evrov vloženih sredstev strank"
          },
          {
            "title" : "20.000",
            "suptitle" : "Več kot",
            "caption" : "strank"
          },
          {
            "title" : "17%",
            "suptitle" : "Več kot",
            "caption" : "donosnost"
          }
        ],
        "cta" : {
          "title" : "Naročite svetovalca",
          "url" : "#",
        },
        "image" : "assets/images/mansuit2.png",
        "image_mobile" : "assets/images/mansuit2.png",
      } 
    %}
    
#}

{# Output #}
<section class="c-text-advanced c-text-advanced-2">
	<div class="container-only-lg">
		<div class="flex flex-wrap -mx-5 lg:mt-45">
			<div class="col-12 lg:col-3 xl:col-3 xl:offset-1">
				<h2 class="h4 lg:h5 xl:h4 title text-coalblack mb-6 lg:mb-4">{{ params.title }}</h2>
				<div class="mb-11 lg:mb-0">
					<a href="{{ params.cta.url }}" class="button button-full medium-button w-full lg:w-auto">{{ params.cta.title }}</a>
				</div>
			</div>
			<div class="lg:col-3 xl:col-3 relative">
				<div style="width:336px; height: 594px; margin-top:-160px;" class="hidden lg:block relative">
          <svg style="width:184px;" class="h-auto absolute -top-5 -right-8" width="184" height="184" viewBox="0 0 184 184" fill="none" xmlns="http://www.w3.org/2000/svg">
              <mask id="a" maskUnits="userSpaceOnUse" x="0" y="0" width="184" height="184">
                <path fill="#EAEFF5" d="M0 0h184v184H0z"/>
              </mask>
              <g mask="url(#a)">
                <path opacity=".5" fill-rule="evenodd" clip-rule="evenodd" d="M183.136.465H-5.959v3.434H181.51v269.724h1.626V.465zm-3.398 273.158V7.335H-5.959v3.437H177.97v262.851h1.768zm-3.54 0V14.208H-5.959v3.437h180.386v255.978h1.771zm-3.542 0V21.081H-5.959v3.437h176.84v249.105h1.775zm-3.546 0V27.953H-5.959v3.435h173.297v242.235h1.772zm-3.543 0V34.824H-5.959v3.434h169.757v235.365h1.769zm-3.54 0V41.694H-5.959v3.437h166.212v228.492h1.774zm-3.546 0V48.567H-5.959v3.437h162.672v221.619h1.768zm-3.54 0V55.44h-160.9v3.437h159.126v214.746h1.774zm-3.545 0V62.313H-5.959v3.434h155.583v207.876h1.772zm-3.543 0V69.183H-5.959v3.434h152.043v201.006h1.769zm-3.54 0V76.053H-5.959v3.437h148.5v194.133h1.772zm-3.543 0V82.926H-5.959v3.437h144.955v187.26h1.774zm-3.546 0V89.799H-5.959v3.438h141.415v180.386h1.768zm-3.54 0V96.673H-5.959v3.431H131.91v173.519h1.774zm-3.546 0V103.539H-5.959v3.438H128.37v166.646h1.768zm-3.539 0v-163.21H-5.959v3.437h130.786v159.773h1.772zm-3.543 0V117.286H-5.959v3.437h127.243v152.9h1.772zm-3.543 0V124.159H-5.959v3.437h123.701v146.027h1.771zm-3.543 0V131.032H-5.959v3.434h120.158v139.157h1.771zm-3.543 0V137.902H-5.959v3.437h116.615v132.284h1.771zm-3.543 0V144.775H-5.959v3.434h113.072v125.414h1.771zm-3.542 0V151.645H-5.959v3.44H103.57v118.538h1.772zm-3.543 0V158.521H-5.959v3.431h105.986v111.671h1.772zm-3.543 0V165.388H-5.96v3.437H96.485v104.798h1.77zm-3.543 0V172.261H-5.959v3.437h98.9v97.925h1.772zm-3.543 0v-94.489H-5.959v3.437h95.358v91.052h1.771zm-3.543 0v-87.616H-5.959v3.437h91.815v84.179h1.771zm-3.542 0V192.88H-5.96v3.431h88.272v77.312h1.772zm-3.543 0v-73.876H-5.96v3.437h84.73v70.439h1.77zm-3.543 0V206.62H-5.96v3.437h81.186v63.566H77zm-3.543 0v-60.13H-5.959v3.437h77.644v56.693h1.771zm-3.543 0v-53.257H-5.959v3.437h74.1v49.82h1.772zm-3.543 0v-46.384H-5.959v3.431h70.558v42.953h1.771zm-3.543 0v-39.517H-5.959v3.438h67.018v36.079h1.769zm-3.54 0v-32.644H-5.958v3.438h63.472v29.206h1.775zm-3.545 0v-25.771H-5.96v3.438h59.93v22.333h1.77zm-3.543 0v-18.897H-5.959v3.434h56.387v15.463h1.771zm-3.543 0v-12.027H-5.959v3.434h52.847v8.593h1.768zm-3.54 0v-5.157H-5.959v3.437h49.3v1.72h1.775z" fill="#54BAB3"/>
              </g>
          </svg>
					<img loading="lazy" src="{{ params.image }}" class="absolute top-0 left-0 object-cover w-full h-full" alt="">
				</div>
				<div class="relative lg:hidden h-0 w-screen -mx-5" style="padding-bottom:calc(125% + 50px); margin-top:52px;">
          <svg style="width:184px; top:-52px;" class="h-auto absolute right-0" width="184" height="184" viewBox="0 0 184 184" fill="none" xmlns="http://www.w3.org/2000/svg">
              <mask id="a" maskUnits="userSpaceOnUse" x="0" y="0" width="184" height="184">
                <path fill="#EAEFF5" d="M0 0h184v184H0z"/>
              </mask>
              <g mask="url(#a)">
                <path opacity=".5" fill-rule="evenodd" clip-rule="evenodd" d="M183.135.464H-5.96v3.434H181.51v269.724h1.626V.464zm-3.397 273.158V7.334H-5.96v3.437H177.97v262.851h1.769zm-3.54 0V14.207H-5.96v3.437h180.386v255.978h1.772zm-3.543 0V21.08H-5.96v3.437h176.84v249.105h1.775zm-3.546 0V27.953H-5.96v3.434h173.298v242.235h1.771zm-3.543 0V34.823H-5.96v3.434h169.758v235.365h1.768zm-3.54 0V41.693H-5.96v3.437h166.212v228.492h1.774zm-3.545 0V48.566H-5.959v3.438h162.671v221.618h1.769zm-3.54 0V55.439h-160.9v3.438h159.125v214.745h1.775zm-3.546 0V62.312H-5.96v3.435h155.583v207.875h1.772zm-3.543 0V69.182H-5.96v3.435h152.044v201.005h1.768zm-3.54 0V76.052H-5.96v3.438h148.501v194.132h1.771zm-3.543 0V82.926H-5.96v3.437h144.955v187.259h1.774zm-3.545 0V89.799H-5.96v3.437h141.415v180.386h1.769zm-3.54 0V96.672H-5.96v3.431H131.91v173.519h1.775zm-3.546 0V103.539H-5.96v3.437H128.37v166.646h1.769zm-3.54 0v-163.21H-5.96v3.437h130.787v159.773h1.771zm-3.543 0V117.285H-5.96v3.437h127.244v152.9h1.771zm-3.543 0V124.158H-5.96v3.437h123.701v146.027h1.771zm-3.543 0V131.031H-5.96v3.434h120.158v139.157h1.771zm-3.542 0V137.901H-5.96v3.437h116.615v132.284h1.772zm-3.543 0V144.774H-5.96v3.434h113.072v125.414h1.772zm-3.543 0V151.644h-111.3v3.44h109.528v118.538h1.772zm-3.543 0V158.52H-5.96v3.431h105.987v111.671h1.771zm-3.543 0V165.387H-5.96v3.437H96.484v104.798h1.771zm-3.543 0V172.26H-5.96v3.437h98.901v97.925h1.771zm-3.542 0v-94.489H-5.96v3.437h95.358v91.052h1.772zm-3.543 0v-87.616H-5.96v3.437h91.815v84.179h1.772zm-3.543 0v-80.743H-5.96v3.432h88.272v77.311h1.772zm-3.543 0v-73.876h-86.5v3.438H78.77v70.438h1.771zm-3.543 0V206.62H-5.96v3.437h81.187v63.565h1.771zm-3.543 0v-60.129H-5.96v3.437h77.644v56.692h1.771zm-3.542 0v-53.256H-5.96v3.437h74.101v49.819h1.772zm-3.543 0v-46.383H-5.96v3.431h70.558v42.952h1.772zm-3.543 0v-39.516H-5.96v3.437h67.018v36.079h1.769zm-3.54 0v-32.643H-5.96v3.437h63.473v29.206h1.774zm-3.546 0v-25.77h-61.7v3.437H53.97v22.333h1.771zm-3.543 0v-18.897H-5.96v3.434h56.387v15.463h1.771zm-3.542 0v-12.027H-5.96v3.434h52.847v8.593h1.769zm-3.54 0v-5.157H-5.96v3.437h49.301v1.72h1.775z" fill="#54BAB3"/>
              </g>
          </svg>
					<img loading="lazy" src="{{ params.image_mobile is defined ? params.image_mobile : params.image }}" class="absolute top-0 left-0 object-cover w-full h-full" alt="">
				</div>
			</div>
			<div class="col-12 lg:col-4 xl:col-4 lg:offset-2 xl:offset-1 bg-coalblack lg:bg-transparent relative">
				<div class="lg:block absolute top-1 bottom-0 bg-coalblack" style="left:calc(-428px + 74px); right:-288px; z-index:-1;"></div>
				<ul class="pb-10 pt-8 lg:pb-20 lg:pt-26">
					{% for item in params.items %}
						<li class="mb-6 lg:mb-10 pl-9 lg:pl-10 relative">
							<div class="small-tag lg:big-tag text-white mb-1 lg:mb-0">{{ item.suptitle }}</div>
							<h5 class="h4 lg:h3 title text-white mb-0 lg:mb-0">{{ item.title }}</h5>
							<p class="small-paragraph text-white">{{ item.caption }}</p>
							<div class="absolute left-0 w-4 h-4 border-2 border-solid border-peppermint" style="border-radius:50%; top:calc(50% - 8px);"></div>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</section>
