{#
  We offer

  
#}

{# Output #}
<section class="c-we-offer w-full relative overflow-hidden">
  <div class="container">
    {% for item in params.items %}
    <div class="row mb-36 items-center">
        <div class="lg:col-6 {{ loop.index % 2 == 1 ? "lg:order-2" : "" }} ">
            <div class="image-container {{ loop.index % 2 == 1 ? "xl:ml-30" : "xl:-ml-30" }}">
                <img class="object-cover w-full h-full" src="{{ item.image }}">
            </div>
        </div>
        <div class="lg:col-6">
            {% if loop.first %}
            <h2 class="text-5xl text-gray-100 font-bold mb-16">{{ params.title }}</h2>
            {% endif %}
            <h3 class="text-6xl text-gray-100 font-bold leading-none mb-4">{{ item.title }}</h3>
            <div class="text-black text-black leading-normal mb-4">{{ item.description }}</div>
            {% if item.cta %} 
            <div>
                <a class="text-blue-100 text-base font-bold" href="{{ item.cta.url }}">{{ item.cta.title }}</a>
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
  </div>
</section>