<footer class="footer footer-1">
	<div class="container-only-lg bg-coalblack lg:bg-transparent">
		<div class="lg:px-16 pt-12 lg:pt-19 pb-18 lg:pb-0 lg:bg-coalblack">
			<div class="row mb-4 lg:mb-22">
				<div class="col-12 lg:col-5 mb-8 lg:mb-0">
					<div class="flex flex-row">
						<a href="#" class="logo pr-6 border-r border-solid border-textgray">
							<img src="{{ manifest('assets/images/Invest-logo-on-dark.svg') }}" alt="">
						</a>
						<div class="text-midtonegray text-sm font-normal pl-6">Vzajemci Skupina d.o.o.<br>Litostrojska 52<br>1000 Ljubljana</div>
					</div>
				</div>
				<!-- .col -->
				<div class="col-12 lg:col-7 lg:text-right">
					<a href="#" class="block lg:inline-block lg:px-8 py-6 lg:py-4 lg:text-right border-b lg:border-b-0 lg:border-r border-textgray">
						<div class="text-white text-xs lg:text-sm uppercase lg:mb-1">Vzajemci</div>
						<div class="text-white font-bold text-2xl lg:text-base lg:uppercase">Consulting</div>
					</a>
					<a href="#" class="block lg:inline-block lg:px-8 py-6 lg:py-4 lg:text-right border-b lg:border-b-0 lg:border-r border-textgray">
						<div class="text-white text-xs lg:text-sm uppercase lg:mb-1">Vzajemci</div>
						<div class="text-white font-bold text-2xl lg:text-base lg:uppercase">Academy</div>
					</a>
					<a href="#" class="block lg:inline-block lg:pl-8 py-6 lg:py-4 lg:text-right">
						<div class="text-white text-xs lg:text-sm uppercase lg:mb-1">Vzajemci</div>
						<div class="text-white font-bold text-2xl lg:text-base lg:uppercase">Invest</div>
					</a>
				</div>
				<!-- .col -->
			</div>
			<!-- .row -->
			<div class="row mb-8">
				<div
					class="col-12">
					<!--<div class="font-medium text-gray-100 text-sm mb-3">Stay with us:</div>-->
					<div class="socials-footer flex">
						<a class="social-icon mr-4" href="#"><img src="{{ manifest('assets/images/ic-facebook-24.svg') }}"></a>
						<a class="social-icon mr-4" href="#"><img src="{{ manifest('assets/images/ic-twitter-24.svg') }}"></a>
						<a class="social-icon mr-4" href="#"><img src="{{ manifest('assets/images/ic-linkedin-24.svg') }}"></a>
						<a class="social-icon mr-4" href="#"><img src="{{ manifest('assets/images/ic-mail-24.svg') }}"></a>
					</div>
				</div>
				<!-- .col -->
			</div>
			<!-- .row -->
			<div class="row py-4 lg:py-8">
				<div class="col-12 lg:col-6 mb-4 lg:mb-0">
					<div class="text-midtonegray font-normal text-sm">Copyright © 2016 Vzajemci Skupina  d.o.o. Vse pravice pridržane.</div>
				</div>
				<div class="col-12 lg:col-6">
					<div class="lg:flex lg:justify-end">
						<a class="mr-8 lg:ml-6 lg:mr-0 font-normal text-sm text-midtonegray" href="#">Privacy policy</a>
						<a class="mr-8 lg:ml-6 lg:mr-0 font-normal text-sm text-midtonegray" href="#">Terms and Conditions</a>
						<a class="mr-9 lg:ml-6 lg:mr-0 font-normal text-sm text-midtonegray" href="#">Cookie Policy</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
